button {
    display: block;
    font-size: 15px;
}

button:focus {
    outline: transparent;
}

.main-dropdown-button {
    background-color: transparent;
    margin-bottom: 5px;
}

.list-button {
    width: 100px;
    font-weight: bold;
}