.MainHeader {
  position: fixed;
  height: 75px;
  width: 99%;
  background-color: aqua;
  border-radius: 5px;
  margin: 5px;
}
.select-dropdown-form {
  margin-left: 5px;
  height: 34px;
  border-radius: 10px;
  padding-left: 10px;
  border: azure;
  margin-top: 3px;
}
.button-search-combo {
  display: inline-flex;
  margin-top: 15px;
  margin-left: 10px;
  height: 40px;
}

.select-dropdown-button {
  width: 50px;
}
.select-dropdown-form {
  margin-left: 5px;
  height: 34px;
  padding-left: 10px;
}
.add-button{
  position: absolute;
  right: 15px;
}
svg{
  height: 40px;
  width: 30px;
}
button {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 50px;
}
form{
  height: 50px;
}
.navbar{

}